<div class="width-[calc(100% / 3.2)] border-radius-[10px] height-[250px] background-[#130b44] display-[flex] justify-content-[flex-start] align-items-[center] flex-direction-[column] before:content-[''] before:position-[absolute] before:width-[5px] before:height-[90%] before:background-[#423b69] before:left-[7px] before:top-[0px] before:bottom-[0px] before:margin-[auto] before:border-radius-[5px] position-[relative] margin-top-[30px] md:width-[90%] md:height-[fit-content] md:margin-top-[0px] sm:width-[90%] sm:height-[fit-content] sm:margin-top-[0px]">
	
	<h1 class="padding-[0px 20px] font-family-[sans-serif] width-[100%] height-[50px] display-[flex] justify-content-[center] align-items-[center] flex-wrap-[wrap] text-align-[center] font-weight-[bold] font-size-[1.5rem] color-[white]">
		${each.value.title}
	</h1>

	<p class="padding-[0px 20px] font-family-[sans-serif] width-[100%] height-[fit-content] display-[flex] justify-content-[center] align-items-[center] flex-wrap-[wrap] text-align-[center] font-weight-[300] font-size-[1rem] color-[rgba(255,255,255,0.75)]">
		${each.value.description}
	</p>

</div>


